In [2]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''

# 1. String
a="Rishab Kumar"
print ('a is :',type(a))

# 2. List
b=[9, 'Rishi', 18.27]
print ('b is :',type(b))

# 3. Float
c=9.18
print ('c is :',type(c))

# 4. Tuple
d=(18, 9.9, 'R.K.')
print ('d is :',type(d))

a is : <class 'str'>
b is : <class 'list'>
c is : <class 'float'>
d is : <class 'tuple'>

In [ ]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

'''
Answer:-

(i) var1 is string
(ii) var2 is string
(iii) var3 is list
(iv) var4 is integer 

'''

In [4]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''

#(i) '/' operator is used to divide 2 numbers

a=9
b=5
c=a/b
print(c)

#(ii) '%' operator gives remainder of division of 2 numbers

d=a%b
print(d)

#(iii) '//' operator is called floor division operator that removes the decimal part of the remainder of division

g=a//b
print(g)

#(iv) '**' operator is exponential operator. for a**b, it gives the result of 'a' raise to power 'b'
h=3
i=a**h
print(i)

1.8
4
1
729

In [7]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

a=[1,2.2,'Rishi', 3, 'Rishab', 'R.K.', 5, 6.9, 9, [5,7,3]]

for i in range (0, len(a)-1):
    print(f'Now i is: {a[i]} and its type is {type(a[i])}')

Now i is: 1 and its type is <class 'int'>
Now i is: 2.2 and its type is <class 'float'>
Now i is: Rishi and its type is <class 'str'>
Now i is: 3 and its type is <class 'int'>
Now i is: Rishab and its type is <class 'str'>
Now i is: R.K. and its type is <class 'str'>
Now i is: 5 and its type is <class 'int'>
Now i is: 6.9 and its type is <class 'float'>
Now i is: 9 and its type is <class 'int'>

In [6]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''


#check if it is divisible
#find how many times it can be divided

a=int(input('Enter first number (a)'))
b=int(input('Enter second number(a)'))
counter=1

if a%b==0:
    print(f'a is completely divisible by b')
    while a>1:
        a=a/b
        counter=counter+1
    print(counter)
    print (f'a is divisible by b {counter} times')

else:
    print('a is not divisible by b')

Enter first number (a)12
Enter second number(a)3
a is completely divisible by b
4
a is divisible by b 4 times

In [7]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

a=[3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]
for i in range (0,len(a)-1):
    if a[i]%3==0:
        print(f'{a[i]} is divisible by 3')
    else:
        print(f'{a[i]} is not divisible by 3')

3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3

In [8]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

'''
Answer:-

Mutable objects are the ones which can be changed after they are created.
Immutable objects are the ones which can not be changed after they are created.

'''
#example of mutable object(list)

l1=[9, 18.27, 'Rishi']
print('L1 is :',l1)
l1[2]='R.K.'
print('Now L1 is :',l1)

#example of immutable object(tuple)

l2=(9, 18.27, 'Rishi')
print('L2 is :',l2)
l2[2]='R.K.'           #This will throw an error since l2 is a tuple which is immutable
print('Now L2 is :',l2)

L1 is : [9, 18.27, 'Rishi']
Now L1 is : [9, 18.27, 'R.K.']
L2 is : (9, 18.27, 'Rishi')

TypeError: 'tuple' object does not support item assignment